<h1> Stupid Coaching </h1>

<div class="container">
  <div class="post">
    <p> <%= @question %> </p>
    <p><em> - Anthony</em></p>
  </div>

  <br>

  <div class="post coach">
    <p> <%= @answer %> </p>
    <p><em>- Coach</em></p>
  </div>
</div>
<br>
<a href="/ask">Ask another question</a>
